.userInput {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex-grow: 1;
  height: 100%;
  overflow: auto;
}

.userInput .inputs {
  display: flex;
  border: 1px solid #ccc;
  flex: 1;
}

.userInput .inputs div {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  height: 100%;
}

.userInput .inputs textarea {
  position: relative;
  flex: 1;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
  font-size: 15px;
  line-height: 1.5;
  border: 1px solid #ccc;
  outline: none;
  resize: none;
  transition: all 0.3s;
}

.userInput .inputs textarea:focus {
  border-color: #000000;
  outline: none;
}

.close-icon-userInput {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #333;
  z-index: 1;
  background-color: #ccc;
  width: 20px;
  height: 20px;
  padding: 4px;
  border-radius: 50%;
}

.close-icon:hover {
  color: #333;
}

.editor-button {
  position: absolute;
  bottom: 10px;
  right: 20px;
}
